.title {
    -fx-font-family: monospace;
    -fx-font-weight: bolder;
    -fx-font-size: 20px;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #aaa;
    -fx-padding: 0 1 0 0;
}

.toolbar-close {
    -fx-font-size: 1px;
    -fx-text-fill: WHITE;
    -fx-background-color: null;
    -fx-background-image: url("/image/close.png");
    -fx-background-repeat: no-repeat;
    -fx-padding: 6, 9, 6, 9;
    -fx-cursor: hand;
}

.toolbar-close:hover {
    -fx-background-image: url("/image/close_hover.png");
}

.toolbar-minimize {
    -fx-font-size: 1px;
    -fx-text-fill: WHITE;
    -fx-background-color: null;
    -fx-background-image: url("/image/minimize.png");
    -fx-background-repeat: no-repeat;
    -fx-padding: 6, 9, 6, 9;
    -fx-cursor: hand;
}

.toolbar-minimize:hover {
    -fx-background-image: url("/image/minimize_hover.png");
}

.toolbar-restore {
    -fx-font-size: 1px;
    -fx-text-fill: WHITE;
    -fx-background-color: null;
    -fx-background-image: url("/image/restore.png");
    -fx-background-repeat: no-repeat;
    -fx-padding: 6, 9, 6, 9;
    -fx-cursor: hand;
}

.toolbar-restore:hover {
    -fx-background-image: url("/image/restore_hover.png");
}
